[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John WIlliams (jtwill98)
[access "refs/for/refs/*"]
	read = group user/John WIlliams (jtwill98)
	push = group user/John WIlliams (jtwill98)
	label-Code-Review = -2..+2 group user/John WIlliams (jtwill98)
	label-Verified = -1..+1 group user/John WIlliams (jtwill98)
	rebase = group user/John WIlliams (jtwill98)
	removeReviewer = group user/John WIlliams (jtwill98)
	submit = group user/John WIlliams (jtwill98)
[access "refs/heads/*"]
	read = group user/John WIlliams (jtwill98)
	create = group user/John WIlliams (jtwill98)
	push = +force group user/John WIlliams (jtwill98)
	pushMerge = group user/John WIlliams (jtwill98)
[access "refs/tags/*"]
	push = +force group user/John WIlliams (jtwill98)
	pushTag = group user/John WIlliams (jtwill98)
	pushSignedTag = group user/John WIlliams (jtwill98)
